.boxWeb {
    box-sizing: border-box;
    width: 100%;
}
header ,ul, li{
    list-style: none;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
}
header, ul li:hover{
    color: blueviolet;
    }